# check that mod_rewrite is enabled
<IfModule mod_rewrite.c>
    # enable the runtime rewrite engine
    RewriteEngine On

    # serve existing files from /public folder as if they were in your base directory

    RewriteCond %{REQUEST_URI} ((.+)/)+index.php [NC]
    RewriteRule ^ / [R=301]

    # route everything else to /public/index.php
    RewriteRule ^ /public/index.php [L]
</IfModule>
